body, html {
    height: 100%;
    margin: 0;
}


body {
    width: 100%;
    background: radial-gradient(1200px at 100% -11.99%, #26D1FF 0%, #087CA7 100%);
    font-family: "Montserrat", sans-serif;
    color: #FCF7F8;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/*-----Home Page CSS-----*/


nav {
    order: 2;
    flex-basis: 100%;
    align-items: center;
}


nav ul {
    list-style: none;
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding: 0;
}


nav ul li {
    padding-top: 50px;
    padding-bottom: 10px;
    border-bottom: 5px solid #CED3DC;
    font-variant: normal;
    letter-spacing: 3px;
}


nav ul li a {
    text-decoration: none;
    color: #FCF7F8;
}


#logobox {
    margin: 20% 20%;
}


#logo {
    width: 100px;
}


main {
    flex: 3;
    order: 1;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 0;
}


#hero {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 44px;
    width: 100%;

}


#subhero {
    list-style: none;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    margin: auto auto 15% auto;
    padding: 0;
}


footer {
    flex: 1;
    order: 3;
    margin-top: 40px;
}


#footvector {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (min-width: 768px) {


    body {
        display: flex;
        background: radial-gradient(1190.00px at 50% -10.19%, #26D1FF 0%, #087CA7 100%);
        mix-blend-mode: normal;
        background-attachment: fixed;


    }

    #logo {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 100px;
    }

    nav {
        flex-basis: 25%;
        padding-bottom: 2em;
    }

    nav ul {
        margin: 25px auto;
        width: 1000px;

    }

    nav ul li {
        display: inline-block;
        margin: 0 50px;
        border-bottom: none;

    }

    nav ul li a {
        font-size: 32px;
        text-decoration:none;
    }
/*
    .nav ul li:hover {
        border-bottom: 5px solid #087CA7;
        transition-duration: .2s;
    }
*/
    nav ul li a:hover{
        font-weight: 600;
        border-bottom: 5px solid #087CA7;
        transition-duration: .2s;
        text-decoration: none;
        color: #FCF7F8;
    }
    main {
        order: 2;
        margin: auto auto;
    }

    #hero {
        font-size: 100px;
        margin-bottom: .25em;

    }

    #subhero {
        margin: 10px auto auto auto;
        padding: 0;
    }

    #subhero li {
        display: inline-block;
        font-size: 32px;

    }

    footer {
        order: 3;
        margin-top: 25%;
    }

    #footvector {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        margin: 0;
    }

    #logobox {
        position: absolute;
        top: 0;
        left: 50px;
        width: 100px;
        margin: 0;
    }
}

/*-----Portfolio Page CSS-----*/


#vector {
    display: none;
    position: absolute;
    top: 70%;
    right: -40%;
    transform: rotate(270deg);
    z-index: 0;
    margin: 0;
    padding: 0;
}

#port{
    font-size: 32px;
    color: #FCF7F8;
    font-weight: 600;
    margin: auto 50px;
}


#h-port{
    order: 2;
    font-size: 100px;
    font-weight: 800;
    color: #FCF7F8;
    text-align: left;
    margin: 25px auto auto;
    padding: 25px 0;
}

#carouselExampleIndicators {
    order: 3;
    width: 80%;
    background: #CED3DC;
    margin: 0 auto;

}

#carousel{
    width: 100%;
    background-color: #4a4a4aab;
    padding: 0;
    order: 3;
    margin: 300px auto;
}

.portboxes{
    display: grid;
    order: 4;
    grid-template-columns: auto ;
}

.portimage{
    background:#FCF7F8;
    border-radius: 3px;
    height: 400px;
    width: 600px;
    margin: 20px;

}

@media (min-width: 1670px) {

    .portboxes {
        display: grid;
        order: 4;
        grid-template-columns: auto auto;
    }
}